# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.zip
main
# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
gdo-api/token-authorizer/upload.log
BitsAndBobs/door_mon/door_state.go
BitsAndBobs/door_mon/go.sum
BitsAndBobs/door_mon/cmd/main.go
gdapi/lftp_transcript_redacted.txt
etc/gdapi.conf.json
etc/gdapi.conf.yaml
etc/gdo.conf
