[Unit]
Description=GDO Homemade garage door API server
After=network.target auditd.service pimonitor.service

[Service]
ExecStart=/usr/local/bin/gdo
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=simple

[Install]
WantedBy=multi-user.target



